# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
.env
.env.*
!.env.example

# Testing
coverage
/coverage
*.lcov

# Build output
/build
/dist
/dist-ssr

# Cache
.cache
.parcel-cache
.sass-cache
*.sass.map
*.css.map

# Project specific
package-lock.json
